.app {
    width:95%;
    display:grid;
    grid-template-columns: 70% 23%;
    gap:70px;
    padding:50px 0;
    // overflow:hidden;
}

.left {
    display:grid;
    grid-template-columns: repeat(3, 33%);
    gap:25px;
}

.card {
    border-radius: 20px;
    box-shadow:10px 10px 20px #bebebe;
    padding:20px 30px;
}

.daniel {
    background-color:$daniel-background;
    grid-column:span 2;
}

.jonathan {
    background-color: $jonathan-background;
}

.jeanette {
    background-color: #fff;
}

.patrick {
    background-color: $patrick-background;
    grid-column:span 2;
}

.kira {
    background-color: #fff;
}

.user-info {
    display:flex;
    gap:20px;
    margin-bottom:30px;
}

.user-pic {
    & img {
        width:45px;
        height:45px;
        border-radius:50%;
    }
}

.username, .verified-graduate{
    font: {
        weight:500;
        size:1.2rem;
    }
}

.verified-graduate {
    opacity:.3;
}

.user-testimonial {
    color:$jonathan-background;
    margin-bottom:35px;
    font: {
        size:1.71rem;
        weight:600;
    }
}

.comment {
    color:$jonathan-background;
    font-weight:500;
    line-height:20px;
    opacity:.7;
}