* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url('/font/BarlowSemiCondensed-Medium.ttf'), url('/font/BarlowSemiCondensed-SemiBold.ttf');
}

body {
    font-family:"Barlow Semi Condensed";
}